html {
    height: 100vh;
}

body {
    background-image: url('../utils/react.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    font-size: 35px;
    font-weight: bolder;
}

a {

    text-shadow: none;
    text-decoration: none;
}


.aboutContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.me{
  width: 400px;
  height: 500px;
  margin: 0;
  box-shadow: 6px 6px 4px 0px rgba(235,235,235,1);
  
}

.description{
    margin-left: 30px;
}

.att-img{
    box-shadow: 6px 6px 4px 0px rgba(181,181,181,1);
}

h1, h3, p, a, li{
    color: #fff;
    text-shadow: 1px 2px 2px darkgray;
    text-shadow: 6px 6px 4px 0px rgba(181,181,181,1);    
}




@media screen and (max-width: 800px){


    .aboutContainer{
        display: block;
        text-align: center;
    }

    .header{
        display: flex;
    }

    .title{
        margin-top: 0;
    }

    .intro, .introText{
        text-align: center;
    }

    .att-img{
        width:  300px;
        height: 500px;
        margin: auto;
    }

    .contact-me-intro{
        text-align: center;
    }
}